.banner-section {

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__slider {
      max-width: 870px;

    &-btn {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: transparent;
      border: none;
      outline: none;
      margin: 0;
      padding: 0;
      z-index: 9;
      cursor: pointer;
    }

    &-btnprev {
      left: 20px;
    }

    &-btnnext {
      right: 20px;
    }

    &-img {
      object-fit: cover;
      min-height: 40px;
    }
  }

}

.slick-dots {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  text-align: center;
  
  li {
    display: inline-block;
    padding: 0 5px;

  }
  
  button {
    padding: 0;
    font-size: 0;
    outline: none;
    margin: 0;
    width: 11px;
    height: 11px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: transparent;
  }
}

.slick-active {
  button {
    background-color: #fff;
  }
}